/* GLOBAL */
body{
    background: #f2f2f2;
    margin: 0;
}

/* HEADER INDEX */
header#index{
    position: relative;   
    min-height: 75vh;
}
.logo a{
    text-decoration: none;
    color: inherit;
}
#contenedor-video{
    position: absolute;
    height: 100%;
    overflow: hidden;
    width: 100%;
    z-index: -1;
}
header #contenedor-video #capa-filtro{
    background-color: rgba(13, 45, 103, 0.6);
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}
#cabecera1{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#cabecera2{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 300px;
    font-family: monospace;
    color: #0080ff;
    font-size: 2em;
}
#cabecera2 p{
    color: #0066cc;
}
h1{

    font-family: monospace;
    text-transform: uppercase;
}
h1 span#logo{
    color: #0080ff;
}
.menu{
    font-family: sans-serif; 
}
.menu ul{
    list-style: none;
}
.menu ul li{
    display: inline-block;
    margin-left: 1em;
}
.menu ul li a{
    color: #4da6ff;
    text-decoration: none;
}
.menu ul li a:hover{
    color: #0066cc;
    text-decoration: underline;
}
#actual{
    color: #0066cc;
    font-weight: bold;
}

/* CONTENIDO */
.contenido1{
    width: 90%;
    margin: auto;
}
.contenido1 h2{
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 3em;
    font-weight: normal;
    color: #0066cc;
    border-bottom: 1px solid #0066cc
}
.contenidoprincipal{
    display: flex;
    flex-wrap: wrap;
}

.beneficios{
    flex: 20%;   
    margin: 5px;
    padding: 10px;
    text-align: center;
    border: 1px dashed #ccc;
    filter: grayscale(100);
}
.beneficios:hover{
    filter: grayscale(0);
}
.beneficios h3{
    text-transform: uppercase;
    font-family: monospace;
    font-size: 1.5em;
    color: #0066cc;
}
.beneficios p{
    font-family: sans-serif;
}


/* CONTENIDO 2 */

.contenido2 h2{
    text-align: center;
    text-transform: uppercase;
    font-family: monospace;
    font-size: 3em;
    font-weight: normal;
    color: #0066cc;
    border-bottom: 1px solid #0066cc
}

#contenido2-contenedor{
    display: flex;
    flex-wrap: wrap;
}

.contenido2texto{
    flex: 60%;
    background: url(images/inicio/otro2.jpeg);
    height: 850px;
    padding: 10px;
    opacity: 0.9;
    text-align: justify;
    font-family: sans-serif;
    filter: grayscale(0.5); 
}
.contenido2texto:hover{
    filter: grayscale(0);
}
.contenido2texto h3{
    color: black;
    text-align: center;
    font-family: sans-serif;
    font-size: 1.5em;
}
.contenido2texto h3 span{
    color: aqua;
}
.contenido2texto p{
    color: white;
    background: rgba(204, 204, 204, 0.521);
    padding: 20px;
}


.ultimasofertas{
    flex: 20%;
    text-align: center;
}
#ultimasofertashead{
    font-family: sans-serif;
    font-size: 2em;
    font-weight: normal;
    color: #0066cc;
}
.ultimasofertas h3{
    color: #0080ff;
    font-family: sans-serif;
}
.ultimasofertas p{
    font-family: sans-serif;
    text-align: justify;
    padding: 10px;
}
.testimonio img{
    width: 200px;
    border-radius: 100px;
}
.testimonio strong{
    font-size: 1.2em;
}


/* MUSICA */

/* INSTAGRAM */
.instagram{
    background: url(images/inicio/otro4.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 300px;
    text-align: center;
    padding: 20px;
    color: #fff;
    font-family: sans-serif;
    opacity: 0.8;
}
.instagram a{
    padding: 10px;
    border: 1px solid white;
    color: white;
    font-weight: bold;
    text-decoration: none;
}
.instagram a:hover{
    background-color: #ccc;
    text-decoration: underline;
}

/* NEWSLETTER */
.newsletter{
    background-color: #0066cc;
    padding: 10px;
    text-align: center;
}
.newsletter p{
    margin: 0;
    font-family: sans-serif;
    color: #fff;
}
.newsletter form{
    margin-top: 10px;
    clear: both;
}
.newsletter input[type=email]{
    padding: 10px;
    border: 1px solid white;
    width: 300px;
}
.newsletter input[type=image]{
    position: relative;
    top: 5px;
    right: 40px;
    filter: grayscale(0);
}
.newsletter input[type=image]:hover{
    filter: grayscale(100);
}


/* FOOTER */
footer{
    display: flex;
    flex-wrap: wrap;
    background-color: #595959;
    color: #8c8c8c;
    font-family: monospace;
    font-size: 1.2em;
}
.divfooter{
    flex: 30%;
    padding: 10px;
}
.divfooter ul{
    list-style: none;
}
.divfooter a{
    color: #ccc;
    text-decoration: none;
}
.divfooter span{
    color: #0080ff;
    font-weight: normal;
}
#footermenu{
    text-align: center;
}
#footermenu ul li{
    color: #ccc;
    text-decoration: none;
}
#footermenu ul li a:hover{
    color: white;
}

#footersocial{
    text-align: center;
}
#footersocial ul li{
    display: inline;
    text-align: center;
}
#footersocial ul li img{
    filter: grayscale(100)
}
#footersocial ul li img:hover{
    filter: grayscale(0)
}

#footerdatos{
    text-align: center;
}

/* FOOTERCOPY */
#footercopy{
    font-family: monospace;
    padding: 5px;
    background: #666666;
    text-align: center;
    color: #8c8c8c;
}
#footercopy p{
    margin: 0;
}


/* -------------------SOBRE NOSOTROS------------------- */
.sobrenosotros {
    width: 80%;
    margin: auto;
    margin-bottom: 2em;
}

.conocenos {
    text-align: center;
    height: 200px;
    background: url(images/personas/conocenos.jpg);
    background-size: cover;
    background-position: 50% 40%;
    opacity: 0.5;
}
.conocenos h2 {
    position: relative;
    display: inline-block;
    top: 50px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-family: sans-serif;
}
.conocenos-general {
    width: 90%;
    margin: auto;
    text-align: center;
    background: #f2f2f2;
    font-family: sans-serif;
}
#nuestroequipo{
    color: #0066cc;
    text-align: center;
    border-bottom: 1px solid #0066cc;
    font-family: sans-serif;
    margin: 50px 0px;
}
.conocenos-general h3{
    color: #0066cc;
}

.conocenos-general p{
    text-align: justify;
}
.contenedor-personal{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 50px;
}
.conocenos-personal{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 20%;
    filter: grayscale(100);
    border: 1px dotted #ccc;
    margin: 5px;
    background: #f2f2f2;
    padding: 10px;
}
.conocenos-personal:hover{
    filter: grayscale(0);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    z-index: 2;
}
.conocenos-personal img{
    width: 305px;
    border-radius: 50px;
    
}
.conocenos-personal h3{
    text-align: center;
    font-family: sans-serif;
    text-transform: uppercase;
    color: #0066cc;
    font-size: 2em;
}
.conocenos-personal span{
    color: #1a1a1a;
}
.conocenos-personal h4{
    text-align: center;
    font-family: monospace;
    color: #0080ff;
    font-size: 2em;
}

.conocenos-personal p{
    text-align: justify;
    font-family: sans-serif;
}

/* ------------------------------CATALOGO------------------------------ */
.catalogo {
    width: 80%;
    margin: auto;
}

.catalogo-header {
    text-align: center;
    height: 200px;
    background: url(images/scooters/catalogo-header.jpg);
    background-size: cover;
    background-position: 50% 15%;
    opacity: 0.5;
}
.catalogo-header h2 {
    position: relative;
    display: inline-block;
    top: 50px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-family: sans-serif;
}


.productos-general {
    width: 90%;
    margin: auto;
    text-align: center;
    background: #f2f2f2;
    font-family: sans-serif;
}

.productos-general h3{
    color: #0066cc;
}

.productos-general p{
    text-align: justify;
}
#contenedor-productos{
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #0066cc;
    margin-top: 50px;
}
.productos-unidad{
    flex: 20%;
    text-align: center;    
    border: 1px dotted #ccc;
    margin: 5px;
    background: white;
    padding: 10px;
    filter: grayscale(100);
}
.productos-unidad:hover{
    filter: grayscale(0);
    background-color: #f2f2f2;
}
.productos-unidad img{   
    width: 305px;
    border-radius: 50px;
}
.productos-unidad h3{
    font-family: sans-serif;
    text-transform: uppercase;
    color: #0066cc;
    font-size: 2em;
}
.productos-unidad span{
    color: #1a1a1a;
}
.productos-unidad h4{
    font-family: monospace;
    color: #0080ff;
    font-size: 2em;
}

.productos-unidad p{
    text-align: justify;
    font-family: sans-serif;
    color: #0066cc;
}
.boton{
    margin-bottom: 10px;
}
.productos-unidad a{
    text-decoration: none;
    color: #0066cc;
    border: 1px solid #0066cc;
    padding: 10px;
}
.productos-unidad a:hover{
    background: #0080ff;
    color: #fff;
}


/* -----------------------CONTACTO----------------------- */
.contacto {
    width: 80%;
    margin: auto;
    margin-bottom: 10px;
}

.contactanos {
    text-align: center;
    height: 200px;
    background: url(images/contacto/contacto-header.jpg);
    background-size: cover;
    background-position: 50% 60%;
    opacity: 0.5;
}
.contactanos h2 {
    position: relative;
    display: inline-block;
    top: 50px;
    color: white;
    border: 1px solid white;
    padding: 10px;
    font-family: sans-serif;
    max-width: 200px;
}
.contacto-general {
    width: 90%;
    margin: auto;
    text-align: center;
    background: #f2f2f2;
    font-family: sans-serif;
    
}

.contacto-general h3{
    color: #0066cc;
}

.contacto-general p{
    text-align: justify;
}

.contacto-secundario{
    margin-top: 50px;
    border-top: 1px solid #0066cc;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    
}

.contacto-left {
    font-size: 1.5em;
    flex: 20%;
}

.contacto-left h3{
    color: #0066cc;
    font-family: monospace;
    border-bottom: 1px dotted #0080ff;
}

.contacto-left p{
    font-family: sans-serif;
}

.contacto-right{
    flex: 50%;
    margin-left: 10px;
    color: #0066cc;
    font-family: monospace;
    font-size: 1.5em;
}
.contacto-right h3{
    border-bottom: 1px dotted #0080ff;
}
.contacto-right form input{
    display: block;
    border: 1px solid #0080ff;
    width: 80%;
    margin: 5px;
    padding: 10px 5px;
}
.contacto-right form textarea {
    padding: 10px 5px;
    border: 1px solid #0080ff;
    margin: 5px;
    width: 80%;
}

#boton-formulario{
    width: 81.5%;
    padding: 5px 10px;
    color: #0066cc;
    background: white;
    border: 1px solid #0080ff;
}
#boton-formulario:hover{
    background: #0066cc;
    color: white;
}
.contacto-social{
    flex: 10%;
    margin-left: 10px;
}
.contacto-social h3{
    color: #0066cc;
    font-family: monospace;
    border-bottom: 1px dotted #0080ff;
    font-size: 23px;
}
.contacto-social ul{
    list-style: none;
    margin: 0;
}
.contacto-social a{
    filter: grayscale(100);
}
.contacto-social a:hover{
    filter: grayscale(0);
}

/* TRANSICION ANIMADA */
.myBounceDiv { 
    -moz-animation:bounce .40s ease-out;  
    -webkit-animation:bounce .40s ease-out;
    animation-duration: 1s;
} 

@-moz-keyframes bounce {
    0%{ -moz-transform:scale(0); opacity:0;}
    50%{ -moz-transform:scale(1.3); opacity:0.4; }
    75%{ -moz-transform:scale(0.9); opacity:0.7;}
    100%{ -moz-transform:scale(1); opacity:1;}
}

@-webkit-keyframes bounce {
    0%{ -webkit-transform:scale(0); opacity:0;}
    50%{ -webkit-transform:scale(1.3); opacity:0.4;}
    75%{ -webkit-transform:scale(0.9); opacity:0.7;}
    100%{ -webkit-transform:scale(1); opacity:1;}
}

/* ------------------------------ MEDIA ------------------------------  */ 
@media only screen and (max-width: 1024px){
    #footersocial ul li img{
        filter: grayscale(0);
    }
    .beneficios{
        filter: grayscale(0);
    }
    .conocenos-personal{
        filter: grayscale(0);
    }
    .conocenos-personal:hover{
        -webkit-transform: scale(1);
        -ms-transform: scale(1);
        transform: scale(1);
    }
}
@media only screen and (max-width: 946px) {
    /* GLOBAL */
    .divfooter{
        flex: 45%;
        text-align: center;       
    }
    #footermenu ul, #footersocial ul{
        padding: 0;
    }
    #footersocial ul li img{
        filter: grayscale(0);
    }
    /* INDEX */
    #contenido2-contenedor{
        display: block;
    }
    .ultimasofertas{
        margin-top: 20px;
        display: flex;
    }
    .beneficios{
        filter: grayscale(0);
    }
    /* CONTACTO */
    .contacto-secundario{
        flex-direction: column;
    }
    .contacto-left, .contacto-right, .contacto-social{
        font-size: 1.25em;
        margin: 0;
    }
    .contacto-social{
        display:none;
    }
    /* SOBRE NOSOTROS */
    .conocenos-personal{
        filter: grayscale(0);
    }
}
@media only screen and (max-width: 768px) {
    /* GLOBAL */
    body{
        box-sizing: border-box;
    }
    header{
        text-align: center;
    }
    #cabecera1{
        flex-direction: column;
    }
    .menu ul{
        padding: 0;
        margin: 0px 5px;
    }
    .menu ul li{
        display: block;
        margin: 5px 0;
        border: 1px solid #fff;
        padding: 5px;
        text-align: center;
        background: rgba(0, 102, 204,0.1);
    }
    .menu ul li:hover{
        background: #ccc;
    }
    .instagram {
        height: 20%;
    }
    .newsletter{
        text-align: center;
    }
    .newsletter input[type=email]{
        width: 75%;
    }
    .divfooter{
        flex: 100%;
        text-align: center;       
    }
    #footermenu ul, #footersocial ul{
        padding: 0;
    }

    /* INDEX */
    #cabecera2 {
        margin-top: 10%;
        font-size: 1.5em;
        text-align: center;
        padding: 20px; 
    }
    .contenido1 h2, .contenido2 h2{
        font-size: 2.5em;
    } 
    .contenido2texto{
        background: #0066cc;
        overflow: hidden;
        height: 30%;
    }
    .ultimasofertas{
        display: flex;
        flex-direction: column;
        flex: 100%;
    }
    .testimonio{
        margin-top: 5%;
    }
    audio{
        width: 100%;
    }
    /* CATALOGO */
    .productos-unidad{
        margin: 5px 5px;
    }
    .productos-unidad h3{
        font-size: 1.5em;
    }
    .productos-unidad h4{
        font-size: 1.5em;
    }
    .productos-unidad img{
        width: 200px;
    }

    /* SOBRE NOSOTROS */
    .conocenos-personal img{
        width: 200px;
    }

    /* CONTACTO */
    .contacto-secundario{
        flex-direction: column;
    }
    .contacto-left, .contacto-right, .contacto-social{
        font-size: 1em;
        margin: 0;
    }
    .contacto-social{
        display:none;
    }

}